# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.suryassolar\.com$ [NC]
RewriteRule ^(.*)$ https://suryassolar.com/$1 [R=301,L]

